* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: #fdfbfb;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 16px;
    padding: 50px;
    box-shadow: 0px 0px 20px -2px #5b5c5d;
}

h1 {
    font-size: 25px;
}

h2 {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 600;
}


#password {
    border-bottom: 2px solid pink;
    font-weight: bold;
    text-align: left;
}

.box {
    padding: 6px;
    border: 1px solid gray;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
}


#subtitle {
    color: gray;
    margin-top: 16px;
    font-size: 14px;
}

.fa-copy {
    color: lightgray;
    cursor: pointer;
}

.fa-copy:hover {
    color: gray;
}